@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/animation" as a;

main{
    min-height: 100vh;
    background-color: v.$color-fondo;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 25px;

    @include m.desktop-chico{ padding: 25px 40px; }
    @include m.tablet{ flex-direction: column; padding: 25px 20px; }
    @include m.mobile{ padding: 20px 15px; }
}

%titulo-base{
    text-align: center;
    font-weight: bold;
    color: v.$color-texto-oscuro; // un solo color para ambos
}
.tituloIndex{
    @extend %titulo-base;
    font-size: 2.2rem;
    animation: fadeInUp 0.8s ease forwards;

    @include m.mobile{ font-size: 1.4rem; }
}

.descripcion-hero{
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.titulo-seccion{
    @extend %titulo-base;
    font-size: 1.9rem;
    text-align: center;
    margin: 40px 0 25px;
}

.beneficios{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: v.$color-texto-oscuro;
    flex-wrap: wrap;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

.introProductos{
    @include m.tablet{ text-align: center; }
    @include m.mobile{ text-align: center; }
}

.faq-contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 2 columnas */
    gap: 15px;
    max-width: 1300px;
    margin: 0 auto;

    @include m.desktop-chico{
        grid-template-columns: repeat(3, 1fr);
    }

    @include m.tablet{
        grid-template-columns: repeat(2, 1fr); /* se mantiene en 2, o bajalo a 1 si preferís */
    }

    @include m.mobile{
        grid-template-columns: 1fr; /* una sola columna en celular */
    }
}    

.faq-item{
    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 25px #00000026;
    }

    h3{
        color: v.$color-texto-oscuro;
        margin-bottom: 8px;
    }
}

