@use "../utilities/variables" as v;
@use "../utilities/mixins" as v;

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;

    @include desktop-chico{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    @include tablet{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    @include mobile{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}

article{
    width: 100%;
    max-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.productos{
    width: 250px;
    height: auto;
    border-radius: 7px;
}

.precio-efectivo{
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-precio;
}

.precio-transferencia{
    font-size: 0.8rem;
    color: $color-gris;
}